@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=PT+Serif:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Rammetto One', cursive;
font-family: 'Ubuntu', sans-serif; */
/* 
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
font-family: 'Ubuntu', sans-serif; */
/* Currently in use */
/* end of in use */
/* Not in use */
/* Not in use */
/* Media Query variables */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  /* inherited properties */
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #0c0c0c;
  background-color: #f8f8f8; }

::selection {
  background-color: #af081b;
  color: #f1f0f0; }

/* MIXINS */
/* ******************************************************* */
/* Centers an element in its parent */
/* Currently used for contact form.  Provides a shadow that lifts div off the page*/
/* No longer in use, provides white text with a shadow */
/*No longer in use. Centers an element on the bottom of its parent. */
/* ******************************************************** */
/* Creates a background that will change when you transition the background-position value.  Paired with project-bk and bk-gradient-[color] for the complete effect.  Apply the mixins to the class and change the background-position in the :hover state.  */
/* project-bk should be paired with bk-transition.  Initial background is transparent, transition on hover will be color passed in as an argument. */
/* bk-gradient-[color] should be paired with bk-transition.  Initial background is beige, transition on hover will be the color chosen. */
/* ********************************************************* */
/* Used for title section.  Positions a background-img in bottom left corner of element.  Meant for large sections that fill up the page. */
/* No longer being used.  positions an background img in the bottom-right corner of an element */
/* ******************************************************* */
/* UTILITY CLASSES */
.cursor {
  cursor: default; }

.shadow-bold {
  filter: drop-shadow(3px 2px 2px black); }

.gradient--4 {
  background-image: linear-gradient(90deg, #1c1d21ff, #ffbfb7ff, #af081bff, #ffbfb7ff, #1c1d21ff); }

/* Added through JS, Reveals project-fv */
.active {
  opacity: 1 !important;
  max-height: max-content !important;
  visibility: visible !important; }

/* This class is added through JS, that way if JS is blocked in the browser, the section will still be visible */
.hidden {
  opacity: 0;
  transform: translateY(8rem); }

.full-flex {
  flex-basis: 100%;
  margin: 4rem; }

.center-text {
  text-align: center; }

/* ***************************************** */
/* ANIMATIONS */
/* No longer in use.  Consider removing.  Idea for animating title content on page load. */
@keyframes slide-right {
  0% {
    left: -100%; }
  100% {
    left: 3%; } }

@keyframes slide-left {
  0% {
    right: -100%; }
  100% {
    right: 3%; } }

@keyframes grow {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 20; }

.title {
  /* .center-line only for dev purposes */
  /* **************** */
  position: relative;
  width: 100%;
  height: 97vh;
  padding: 0 5rem;
  background-image: "none";
  /* original 87% 90% size 35% */
  --icon-width: 6rem;
  --heading-primary-fs: 6rem;
  --heading-secondary-fs: 3rem;
  --para-fs: 2.2rem; }
  .title .center-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 95vh;
    width: 1px;
    background-color: black; }
  @media only screen and (max-width: 57.75em) {
    .title {
      --icon-width: 5rem;
      --heading-primary-fs: 5rem;
      --heading-secondary-fs: 2.75rem;
      --para-fs: 1.8rem; } }
  @media only screen and (max-width: 31.25em) {
    .title {
      --icon-width: 5rem;
      --heading-primary-fs: 4.7rem;
      --heading-secondary-fs: 2rem;
      --para-fs: 1.8rem; } }
  .title__icons {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--icon-width);
    height: 60%; }
  .title__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Merriweather", serif;
    line-height: 1.4; }
    @media only screen and (max-width: 37.5em) {
      .title__content {
        width: 80%; } }
    @media only screen and (max-width: 31.25em) {
      .title__content {
        width: 70%; } }
    .title__content h1 {
      font-size: var(--heading-primary-fs);
      font-weight: 300;
      white-space: nowrap; }
    .title__content h2 {
      font-size: var(--heading-secondary-fs);
      font-weight: 300;
      white-space: nowrap; }
    .title__content p {
      margin-top: 2rem;
      font-size: var(--para-fs);
      font-weight: 400;
      font-family: "PT Sans", sans-serif;
      line-height: 1.7;
      letter-spacing: 0.2px; }
  .title__scroll {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%); }
    .title__scroll img {
      position: relative;
      width: 3.5rem;
      transition: all 0.1s; }
    .title__scroll::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      height: 0.45rem;
      width: 42%;
      perspective: 100px;
      transform: translateX(-50%) rotateX(45deg) scale(1);
      border-radius: 50%;
      box-shadow: 0px 0 40px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.1s;
      background-color: rgba(0, 0, 0, 0.45);
      transition: all 0.1s; }
    .title__scroll:hover img, .title__scroll:focus img {
      transform: translateY(-3px); }
    .title__scroll:hover::after, .title__scroll:focus::after {
      transform: translateX(-50%) rotateX(45deg) scale(1.17);
      background-color: rgba(0, 0, 0, 0.3); }
    .title__scroll:active img {
      transform: translateY(0.5rem); }
    .title__scroll:active::after {
      transform: translateX(-50%) rotateX(45deg) scale(0.7);
      background-color: rgba(0, 0, 0, 0.7); }

/* PROJECTS //////////////////////////////////////////////// */
.projects {
  background-color: #af081b; }

.project {
  /* Change background color by using project-bk mixin, passing color as arg */
  /* heading, description, link */
  /*   --heading-fs: 1rem;
  --description-fs: 1rem;
  --link-fs: 1rem; */
  --heading-fs: 3rem;
  --description-fs: 2rem;
  --link-fs: 2rem;
  --img-size: 20rem;
  height: 324px;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to right, transparent 50%, white 50%);
  background-size: 200%;
  background-position: 0%;
  transition: background-position 0.3s;
  /* swaps all bk colors once project is hovered */
  /* ******************************* */
  /* *************************************** */ }
  @media only screen and (max-width: 75em) {
    .project {
      --description-fs: 1.8rem;
      --link-fs: 1.8rem;
      height: 312px; } }
  @media only screen and (max-width: 57.75em) {
    .project {
      --heading-fs: 2.5rem;
      --description-fs: 1.6rem;
      --img-size: 15rem;
      --link-fs: 1.6rem;
      padding: 3rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .project {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      padding: 5rem 3rem;
      min-height: 50rem; } }
  .project:hover,
  .project:hover .project__img,
  .project:hover .project__text-container > * {
    background-position: 100%; }
  .project:hover .project__link {
    color: #f1f0f0; }
  .project__img {
    order: 1;
    height: var(--img-size);
    width: var(--img-size);
    margin-right: auto;
    background-image: linear-gradient(to right, #eee2aa 50%, #0e2439 50%, #081f7d, #0e2439, #081f7d);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 200%;
    background-position: 0%;
    transition: background-position 0s;
    transition: transform 0.1s; }
    @media only screen and (max-width: 37.5em) {
      .project__img {
        margin-right: 0;
        margin-bottom: 2.5rem; } }
    .project__img--poker {
      mask-image: url(../img/cards-white.svg);
      -webkit-mask-image: url(../img/cards-white.svg); }
    .project__img--portfolio {
      background-image: linear-gradient(to right, #eee2aa 50%, #dc93b8ff 50%, #c34685ff, #dc93b8ff, #c34685ff);
      mask-image: url(../img/sass.svg);
      -webkit-mask-image: url(../img/sass.svg); }
    .project__img--node-js {
      background-image: linear-gradient(to right, #eee2aa 50%, #0c4613 50%, #188c25, #0c4613, #188c25);
      mask-image: url(../img/node-js.svg);
      -webkit-mask-image: url(../img/node-js.svg); }
    .project__img:hover {
      transform: translateY(-4px);
      background-position: 0% !important; }
  .project__text-container {
    flex: 0 1 60%;
    order: 2;
    margin-right: 7rem; }
    @media only screen and (max-width: 57.75em) {
      .project__text-container {
        flex: 0 1 67%;
        margin-right: 0; } }
    .project__text-container > *:not(:last-child) {
      /* Text is used as a mask, background provides color.  Mixins set up background properties.  Transition on hover is handled above by hovering parent div. */
      color: transparent;
      background-image: linear-gradient(to right, #eee2aa 50%, #0e2439 50%, #081f7d, #0e2439, #081f7d);
      background-size: 200%;
      background-position: 0%;
      transition: background-position 0s;
      background-clip: text;
      -webkit-background-clip: text; }
  .project:not(:first-child) {
    border-top: 1px solid rgba(238, 226, 170, 0.4); }
  .project--reverse:hover {
    background-position: -100%; }
  .project--reverse .project__img {
    /* any project with --reverse modifier will reverse the order of img and text content */
    order: 3;
    margin-right: 0;
    margin-left: auto; }
    @media only screen and (max-width: 37.5em) {
      .project--reverse .project__img {
        order: 1;
        margin-left: 0; } }
  .project--reverse .project__text-container {
    margin-right: 0; }
  .project__heading {
    margin-bottom: 2.5rem;
    cursor: default;
    line-height: 1;
    font-size: var(--heading-fs); }
    @media only screen and (max-width: 37.5em) {
      .project__heading {
        text-align: center; } }
  .project__description {
    margin-bottom: 4rem;
    letter-spacing: 1px;
    font-size: 2rem;
    font-size: var(--description-fs);
    cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .project__description {
        margin-bottom: 6rem; } }
  .project__link {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-49.9%, 0) scale(1);
    padding: 0.2rem 2rem;
    color: #af081b;
    font-size: var(--link-fs);
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(to right, #eee2aa 50%, #0e2439 50%, #081f7d, #0e2439, #081f7d);
    background-size: 201%;
    border-radius: 10px;
    transition: all 0.1s; }
    .project__link:hover, .project__link:focus {
      color: #eee2aa !important; }

/* FULL VIEW /////////////////////////////////////// */
.project-fv {
  --banner-height: 5rem;
  transition: all 0.3s;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  border: 1px solid #af081b;
  border-bottom: none;
  border-top: none;
  background-color: white; }
  .project-fv__container, .project-fv__flex-container {
    position: relative;
    margin: 0 auto;
    max-width: 200rem;
    padding: 8rem 2rem 0 2rem; }
  .project-fv__flex-container {
    display: flex; }
  .project-fv__banner {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #0e2439, #081f7d, #0e2439, #081f7d);
    height: var(--banner-height);
    padding: 0.5rem 0; }
    .project-fv__banner--pink {
      background-image: linear-gradient(to right, #dc93b8ff, #c34685ff, #dc93b8ff, #c34685ff); }
  .project-fv__title {
    --figure-width: 50vw;
    --figure-max-width: 80rem;
    --figure-min-width: 60rem;
    display: flex;
    gap: 4rem;
    margin-bottom: 8rem; }
    .project-fv__title--no-flex {
      --figure-width: 40vw;
      --figure-max-width: 45rem;
      --figure-min-width: 20rem;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem; }
      .project-fv__title--no-flex p {
        width: 70%;
        margin: 0 auto; }
    @media only screen and (max-width: 68.75em) {
      .project-fv__title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem; } }
    .project-fv__title .figure {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .project-fv__title fig-caption {
      width: calc(var(--figure-width) * 1.11);
      max-width: calc(var(--figure-max-width) * 1.11);
      min-width: calc(var(--figure-min-width) * 1.11);
      font-size: 2.8rem;
      font-weight: 300;
      text-align: center;
      color: #fbf7f7;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      background-image: linear-gradient(to right, #0e2439, #081f7d, #0e2439, #081f7d); }
    .project-fv__title .mask {
      aspect-ratio: 1;
      background-size: 200%;
      background-position: 100%;
      mask-size: cover;
      -webkit-mask-size: cover; }
      .project-fv__title .mask--sass {
        background-image: linear-gradient(to right, #eee2aa 50%, #dc93b8ff 50%, #c34685ff, #dc93b8ff, #c34685ff);
        mask-image: url(../img/sass.svg);
        -webkit-mask-image: url(../img/sass.svg); }
      .project-fv__title .mask--node-js {
        background-image: linear-gradient(to right, #eee2aa 50%, #0c4613 50%, #188c25, #0c4613, #188c25);
        mask-image: url(../img/node-js.svg);
        -webkit-mask-image: url(../img/node-js.svg); }
    .project-fv__title .mask,
    .project-fv__title video,
    .project-fv__title .title-img {
      width: var(--figure-width);
      max-width: var(--figure-max-width);
      min-width: var(--figure-min-width);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .project-fv__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 5rem;
    margin: 0 auto 5rem auto;
    max-width: 110rem; }
    @media only screen and (max-width: 46.25em) {
      .project-fv__content {
        flex-direction: column; } }
    .project-fv__content > *:not(.full-flex) {
      flex: 0 1 52rem; }
  .project-fv .about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 68.75em) {
      .project-fv .about {
        gap: 4rem; } }
    .project-fv .about p {
      font-size: 2rem;
      font-weight: 300;
      border: 1rem solid #2e2e2e;
      padding: 5rem 2rem;
      border-radius: 20px;
      /* For certain viewport sizes */ }
      @media only screen and (max-width: 75em) {
        .project-fv .about p {
          font-size: 1.7rem;
          padding: 3rem 2rem; } }
  .project-fv__links {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 68.75em) {
      .project-fv__links {
        justify-content: center;
        gap: 4rem; } }

.contact {
  /* Contact section will take up 90vh and the form-container will be placed in the center, positioned slightly down on the Y-axis */
  position: relative;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 7rem;
  background-image: url(../img/logoFinal-large.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center 7rem; }
  .contact__form-container {
    --heading-size: 2.5rem;
    --tertiary-size: 2rem;
    --social-size: 1.5rem;
    --placeholder-color: rgb(104, 100, 100);
    --label-size: 1.2rem;
    --input-size: 1.4rem;
    --msg-size: 1.6rem;
    --msg-pad: 13rem;
    color: #0c0c0c;
    background-color: #f8f8f8;
    font-family: "Ubuntu", sans-serif;
    /* these above properties will be used or inherited by the form */
    width: 800px;
    min-width: 50%;
    max-width: 90%;
    margin: 12% auto 1rem auto;
    transition: all 0.8s cubic-bezier(0.5, 1.62, 0.98, 1.1);
    /* transition applies when hidden class is removed, translating up and changing opacity,
    this is done in JS */ }
    @media only screen and (max-width: 57.75em) {
      .contact__form-container {
        margin: 20% auto 1rem auto; } }
    @media only screen and (max-width: 46.25em) {
      .contact__form-container {
        --heading-size: 2.2rem;
        --social-size: 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__form-container {
        background-color: transparent;
        --tertiary-size: 1.8rem; } }

/* Used to test a transition, delete after implementing transistion */
@keyframes slide-up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1); } }

.nav {
  padding-top: 10vh;
  max-width: 120rem;
  margin: 0 auto; }
  .nav__links {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; }
  .nav__link--center {
    position: absolute;
    left: 50%;
    transform: scale(1) translate(-50%, 0); }
    @media only screen and (max-width: 31.25em) {
      .nav__link--center {
        left: 0;
        position: relative;
        transform: scale(1) translate(0, 0); } }
  .nav__link {
    font-size: 2.5rem;
    color: black;
    transition: all 0.1s; }
    .nav__link img {
      width: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__link {
        font-size: 2rem; } }
  .nav__link:focus, .nav__link:hover {
    outline: none;
    color: #00a3a3ff; }
  .nav__link--left:hover, .nav__link--left:focus {
    outline: none;
    transform: scale(1.1) translateY(-2px); }
  .nav__link--left:active {
    transform: scale(1) translateY(2px); }
  .nav__link--center:hover, .nav__link--center:focus {
    transform: scale(1.1) translate(-50%, -2px); }
    @media only screen and (max-width: 31.25em) {
      .nav__link--center:hover, .nav__link--center:focus {
        transform: scale(1.1) translate(0, -2px); } }
  .nav__link--center:active {
    transform: scale(1.1) translate(-50%, 2px); }
    @media only screen and (max-width: 31.25em) {
      .nav__link--center:active {
        transform: scale(1.1) translate(0, 2px); } }

/* possibly unused */
.lazy {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 12%;
  /* 
  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: blue;
    width: 20%;
  } */ }

/* possibly unused */
.scroll-arrow {
  /* NEED TO ADD SHADOW */ }
  .scroll-arrow--big {
    position: absolute;
    bottom: 5%;
    right: 5%; }
    .scroll-arrow--big > * {
      width: 5rem; }

.content-left,
.content-right {
  font-size: 1.8rem; }
  .content-left h3,
  .content-right h3 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 6rem;
    margin-top: 3rem; }
    @media only screen and (max-width: 57.75em) {
      .content-left h3,
      .content-right h3 {
        font-size: 4.2rem; } }
    .content-left h3::after,
    .content-right h3::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2rem;
      transform: translateX(-50%);
      width: 30rem;
      height: 1px;
      background-color: black; }
      @media only screen and (max-width: 57.75em) {
        .content-left h3::after,
        .content-right h3::after {
          width: 20rem; } }
  .content-left .italic,
  .content-right .italic {
    font-style: italic;
    font-size: 2.2rem;
    text-align: center; }
    @media only screen and (max-width: 57.75em) {
      .content-left .italic,
      .content-right .italic {
        font-size: 1.8rem; } }

.list {
  list-style: none;
  text-align: center; }
  .list .list-heading {
    display: block;
    color: #081f7d;
    font-weight: 500;
    text-align: center; }
  .list p {
    font-size: 1.6rem; }
  .list li:not(:last-of-type) {
    margin-bottom: 4rem; }

.banner-icon {
  height: 100%; }

.project-link {
  --img-width: 7rem;
  --link-fs: 2rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .project-link {
      --img-width: 5rem;
      --link-fs: 1.6rem; } }
  .project-link__img {
    width: var(--img-width); }
    .project-link__img:active {
      transform: translateY(2px); }
  .project-link__text {
    font-size: var(--link-fs);
    margin-left: 1rem; }
  .project-link--move-left {
    transform: translateX(-16%); }

.collapse {
  position: absolute;
  right: 1rem;
  bottom: 0; }
  .collapse__img {
    width: 4rem; }
  @media only screen and (max-width: 46.25em) {
    .collapse {
      right: 50%;
      transform: translateX(50%); } }

.form {
  /* To make this component resusable elsewhere, some property values are defined in parent container, using variables */
  /* variables needed: --heading-size, --placeholder-color, --label-size, --input-size, --msg-size, --msg-pad */
  /* font-family & colors inhereted by parent container */
  /* width defined by parent container; height definined by content */
  /* Direct children: notch, socials, name, email, email + btn */
  position: relative;
  --form-padding: 3rem;
  width: 100%;
  padding: var(--form-padding);
  border: 1px solid #242323;
  border-radius: 5px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); }
  .form > * {
    position: relative; }
  .form__heading, .form__heading-secondary {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-weight: 500;
    background-color: #f8f8f8;
    padding: 0 5px; }
    @media only screen and (max-width: 37.5em) {
      .form__heading, .form__heading-secondary {
        position: relative;
        padding: 0 0;
        transform: translateY(0);
        width: max-content;
        margin: 0 auto; } }
  .form__heading {
    left: 8%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--heading-size); }
    @media only screen and (max-width: 46.25em) {
      .form__heading {
        left: 5%; } }
    @media only screen and (max-width: 37.5em) {
      .form__heading {
        margin-top: 8rem;
        left: 0;
        transform: translateY(0);
        text-decoration: underline; } }
  .form__heading-secondary {
    font-size: var(--social-size);
    text-transform: lowercase;
    font-weight: 600;
    right: 5%; }
    @media only screen and (max-width: 46.25em) {
      .form__heading-secondary {
        right: 2%;
        font-size: 1.4rem;
        top: 8.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__heading-secondary {
        right: 0;
        top: 0; } }
  .form__heading-tertiary {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translateX(-50%);
    font-size: var(--tertiary-size);
    font-weight: 600; }
    @media only screen and (max-width: 37.5em) {
      .form__heading-tertiary {
        position: relative;
        width: max-content;
        transform: translateX(0);
        left: 0;
        top: 0;
        margin: 0 auto;
        font-weight: 500; } }
  .form__notch {
    /* This is the notch the image will be placed in.  It will scale to the size of the form.  The ::after contains the actual img, witch will scale to the curve of the notch.  Changing the size of the form should automatically change the size of notch and img. The border properties and rotate create the notch illusion*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50.4%) rotate(-45deg);
    background-color: #f8f8f8;
    /* background-color is needed to hide top border from form behind the img*/
    border-radius: 50%;
    width: 30%;
    min-width: 20rem;
    aspect-ratio: 1;
    border: 1px solid #242323;
    border-top-color: transparent;
    border-right-color: transparent; }
    .form__notch::after {
      /* Img is set as a background-img, percentages used as size to keep img responsive to notch.  Rotated to correct from rotation of parent*/
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 95%;
      border-radius: 50%;
      background-image: url(../img/chris-2.jpeg);
      background-size: 150%;
      background-position: center;
      transform: translate(-50%, -50%) rotate(45deg); }
  .form__group:not(:last-of-type) {
    /* This selects name and email elements; not message */
    margin-bottom: 1rem;
    position: relative; }
    @media only screen and (max-width: 31.25em) {
      .form__group:not(:last-of-type) {
        margin-bottom: 5px; } }
  .form__input {
    font-size: var(--input-size);
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: inherit;
    border: 1px solid black;
    width: 100%;
    transition: all 0.3s; }
    .form__input:focus {
      /* bottom border changes color depending on validity of input */
      outline: none;
      border-bottom: 3px solid green; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #af081b; }
    .form__input::-webkit-input-placeholder {
      color: var(--placeholder-color); }
    .form__input--msg {
      padding-bottom: var(--msg-pad);
      font-size: var(--msg-size);
      font-weight: 400;
      resize: none; }
  .form__label {
    /* when placeholder is not shown, label is revealed below the input, giving the illusion the placeholder glided downwards.*/
    display: block;
    font-size: var(--label-size);
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    /* When placeholder is show, label will be hidden behind the placeholder */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__submit {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #eee2aa 50%, #0e2439 50%, #081f7d, #0e2439, #081f7d);
    background-size: 200%;
    background-position: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #f1f0f0;
    position: absolute;
    left: 50%;
    bottom: var(--form-padding);
    transform: translate(-50%, 30%) scale(1);
    /* will center btn on bottom border of message element */
    transition: transform 0.1s; }
    .form__submit:hover, .form__submit:focus {
      outline: none;
      transform: translate(-50%, 30%) scale(1.05); }
    .form__submit:active {
      transform: translate(-50%, 30%) scale(0.95); }

.socials {
  display: flex;
  /* positions all links on right side of card */
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10rem;
  /* gives space between social links and form items */
  padding: 0 7.5%;
  /* pushes links to the left */ }
  @media only screen and (max-width: 46.25em) {
    .socials {
      padding: 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .socials {
      justify-content: center;
      border-bottom: 1px solid black;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .socials {
      margin-bottom: 3rem; } }
  .socials a {
    margin-left: 2%; }
  .socials img {
    width: 4.5rem;
    transition: all 0.1s; }
    @media only screen and (max-width: 37.5em) {
      .socials img {
        width: 3.5rem; } }
    .socials img:hover, .socials img:focus {
      transform: scale(1.05); }
    .socials img:active {
      transform: scale(0.95); }

/* 
#5D040A light red
#f1f0f0 white for dark red
#AF081B dark red*/
/* 
light black #494444
dark black #0C0C0C */
/* *********************** */
/* *********************** */
/* *********************** */
/* ************************ */
/* //Primary
$rich-black-fogra-29: #011627;
//Primary light
$oxford-blue: #02223cff;
//Primary dark
$rich-black-fogra-29-2: #010b14ff;

$gradient-primary: linear-gradient(to right bottom, #02223cff, #010b14ff);
//Secondary

$robin-egg-blue: #00ccccff;
//Secondary light
$fluorescent-blue: #00f5f5ff;
//Secondary dark
$viridian-green: #00a3a3ff;


//Accent
$barbie-pink: #da1884ff;
//Accent light
$persian-pink: #f17ebdff;
//Accent dark
$amaranth-m-p: #b8146eff; */
