.logo {
  width: 5rem;

  &--header {
    position: fixed;
    top: 2rem;
    left: 3rem;
  }
}

.heading-primary {
  width: max-content;
  line-height: 1;
  font-family: $ff-headings;
  font-size: $fs-l;

  &--huge {
    font-size: $fs-huge;
  }

  &--xl {
    font-size: $fs-xl;
  }
}

.lazy {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 12%;
  /* 
  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: blue;
    width: 20%;
  } */
}

.scroll-arrow {
  &--big {
    position: absolute;
    bottom: 5%;
    right: 5%;

    & > * {
      width: 5rem;
    }
  }

  //   &::after{}

  /* NEED TO ADD SHADOW */
}

.content-left,
.content-right {
  padding: 2rem;
  font-size: $fs-s;

  h3 {
    text-align: center;
    background-color: white;
    color: $blue;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: $fs-l;
    margin: $mg-btm-sm 0;
  }

  .italic {
    font-style: italic;
    font-size: $fs-xs;
  }
}

.list {
  list-style: none;

  .list-heading {
    display: block;
    color: $blue;
    font-style: italic;
    font-weight: $fw-semi-bold;
    text-align: center;
  }

  p {
    font-size: $fs-xs;
  }

  li:not(:last-of-type) {
    margin-bottom: $mg-btm-m;
  }
}

.banner-icon {
  height: 100%;
}

.project-link {
  display: flex;
  align-items: center;
  &__img {
    width: 7rem;
    &:active {
      transform: translateY(2px);
    }
  }
  &__text {
    margin-left: 1rem;
  }
}

.collapse {
  position: absolute;
  right: 1rem;
  bottom: 0;
  &__img {
    width: 3rem;
  }
}

.form {
  position: relative;
  border: 1px solid rgb(36, 35, 35);
  border-radius: 5px;
  @include shadow;
  // background-color: $white;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  padding: 2rem;

  & > * {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
    display: inline-block;
  }

  &__group:not(:last-child) {
    margin-bottom: 1rem;
    position: relative;
  }

  &__input {
    display: block;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: inherit;
    border: none;
    // border-top: 1px solid rgba(0, 0, 0, 0.2);
    // border-left: 1px solid rgba(0, 0, 0, 0.2);
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    @include shadow;
    border-bottom: 3px solid transparent;
    width: 100%;
    transition: all 0.3s;

    // @include respond(tab-port) {
    //   width: 100%;
    // }

    &:focus {
      outline: none;
      box-shadow: 0 1rem rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid green;

      &:invalid {
        border-bottom: 3px solid $color-primary;
      }
    }

    &::-webkit-input-placeholder {
      color: rgb(104, 100, 100);
    }

    &--msg {
      padding-bottom: 10rem;
      font-size: 1.6rem;
      font-weight: 400;
      // background-color: pink;
      resize: none;
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__submit {
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    @include bk-gradient-blue;
    background-size: 200%;
    background-position: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.1s;

    &:hover,
    &:focus {
      outline: none;
      transform: translateX(-50%) translateY(-1px);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateX(-50%) translateY(1px);
      box-shadow: none;
    }
  }
}

.socials {
  display: flex;
  align-items: center;

  h2 {
    margin-right: auto;
  }
  img {
    width: 3rem;
    margin-left: 2rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

/* Title Page components */
// .title__container {
//   display: none;
//   // display: flex;
//   align-items: center;
//   font-family: "PT Serif", serif;
//   font-size: 4rem;
//   color: $new-grey;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .divider {
//   font-family: serif;
//   font-size: 5rem;
//   font-weight: 100;
//   transform: scale(0);
//   transform-origin: bottom;
//   animation: grow 0.2s ease-in 1s forwards;
// }

// .text-holder--left {
//   position: relative;
//   overflow: hidden;
//   /*   background-color: yellow; */
//   width: 26.5rem;
// }

// .text-holder--right {
//   position: relative;
//   overflow: hidden;
//   /*   background-color: teal; */
//   width: 38rem;
// }

// .text--left {
//   font-size: 4rem;
//   position: relative;
//   text-align: right;
//   right: -100%;
//   animation: slide-left 0.5s cubic-bezier(0.49, 1.34, 0.84, 1.17) 1.3s forwards;
// }
// .text--right {
//   position: relative;
//   /*   background-color: pink */
//   left: -100%;
//   animation: slide-right 0.5s cubic-bezier(0.49, 1.34, 0.84, 1.17) 1.3s forwards;
// }
// .video {
//   width: 40.6rem;
// }

/*           <img src="../img/cards-white.svg" alt="Playing cards-white" class="project__img shadow-bold">
          <div class="project__text-container">
            <h2 class="heading-primary project__heading">burtonPoker</h2>
            <p class="project__description"></p>
            <a href="#" class="project__link">learn more</a> */
