.nav {
  padding-top: 10vh;
  max-width: 120rem;
  margin: 0 auto;

  &__links {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  &__link--center {
    position: absolute;
    left: 50%;
    transform: scale(1) translate(-50%, 0);

    @media only screen and (max-width: $bp-smallest) {
      left: 0;
      position: relative;
      transform: scale(1) translate(0, 0);
    }
  }

  &__link {
    // transform: translateX(3.6rem);
    img {
      width: 4rem;
    }
    // margin-right: 2rem;
    font-size: 2.5rem;
    color: black;
    transition: all 0.1s;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2rem;
    }
  }

  &__link:focus,
  &__link:hover {
    outline: none;
    color: $teal;
  }
  &__link--left:hover,
  &__link--left:focus {
    outline: none;
    transform: scale(1.1) translateY(-2px);
  }
  &__link--left:active {
    transform: scale(1) translateY(2px);
  }

  &__link--center:hover,
  &__link--center:focus {
    transform: scale(1.1) translate(-50%, -2px);

    @media only screen and (max-width: $bp-smallest) {
      transform: scale(1.1) translate(0, -2px);
    }
  }
  &__link--center:active {
    transform: scale(1.1) translate(-50%, 2px);

    @media only screen and (max-width: $bp-smallest) {
      transform: scale(1.1) translate(0, 2px);
    }
  }
}

/* possibly unused */
.lazy {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 12%;
  /* 
  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: blue;
    width: 20%;
  } */
}

/* possibly unused */
.scroll-arrow {
  &--big {
    position: absolute;
    bottom: 5%;
    right: 5%;

    & > * {
      width: 5rem;
    }
  }

  //   &::after{}

  /* NEED TO ADD SHADOW */
}

.content-left,
.content-right {
  // padding: 2rem;
  font-size: $fs-s;

  h3 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: $mg-btm-xl;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4.2rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2rem;
      transform: translateX(-50%);
      width: 30rem;
      height: 1px;
      background-color: black;

      @media only screen and (max-width: $bp-medium) {
        width: 20rem;
      }
    }
  }

  .italic {
    font-style: italic;
    font-size: 2.2rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
    }
  }
}

.list {
  list-style: none;
  text-align: center;

  .list-heading {
    display: block;
    color: $blue;
    font-weight: $fw-semi-bold;
    text-align: center;
  }

  p {
    font-size: $fs-xs;
  }

  li:not(:last-of-type) {
    margin-bottom: $mg-btm-l;
  }
}

.banner-icon {
  height: 100%;
}

.project-link {
  --img-width: 7rem;
  --link-fs: 2rem;

  @media only screen and (max-width: $bp-largest) {
    --img-width: 5rem;
    --link-fs: 1.6rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    width: var(--img-width);
    &:active {
      transform: translateY(2px);
    }
  }
  &__text {
    font-size: var(--link-fs);
    margin-left: 1rem;
  }

  &--move-left {
    transform: translateX(-16%);
  }
}

.collapse {
  position: absolute;
  right: 1rem;
  bottom: 0;
  &__img {
    width: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    right: 50%;
    transform: translateX(50%);
  }
}

.form {
  /* To make this component resusable elsewhere, some property values are defined in parent container, using variables */
  /* variables needed: --heading-size, --placeholder-color, --label-size, --input-size, --msg-size, --msg-pad */
  /* font-family & colors inhereted by parent container */
  /* width defined by parent container; height definined by content */
  /* Direct children: notch, socials, name, email, email + btn */
  position: relative;

  --form-padding: 3rem;
  width: 100%;
  padding: var(--form-padding);

  border: 1px solid rgb(36, 35, 35);
  border-radius: 5px;
  @include shadow;

  & > * {
    position: relative;
    // z-index: 1;
  }

  &__heading,
  &__heading-secondary {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-weight: 500;
    background-color: $new-white;
    padding: 0 5px;

    @media only screen and (max-width: $bp-xsmall) {
      position: relative;
      padding: 0 0;
      transform: translateY(0);
      width: max-content;
      margin: 0 auto;
    }
  }

  &__heading {
    left: 8%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--heading-size);

    @media only screen and (max-width: $bp-small) {
      left: 5%;
    }

    @media only screen and (max-width: $bp-xsmall) {
      margin-top: 8rem;
      left: 0;
      transform: translateY(0);
      text-decoration: underline;
    }

    // &:after {
    //   content: "Chris Burton";
    //   position: relative;
    //   font-size: 1.4rem;
    //   font-weight: 500;
    //   width: max-content;
    //   display: block;
    //   text-transform: lowercase;
    // }
  }

  &__heading-secondary {
    font-size: var(--social-size);
    text-transform: lowercase;
    font-weight: 600;
    right: 5%;

    @media only screen and (max-width: $bp-small) {
      right: 2%;
      font-size: 1.4rem;
      top: 8.5rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      right: 0;
      top: 0;
    }
  }

  &__heading-tertiary {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translateX(-50%);
    font-size: var(--tertiary-size);
    font-weight: 600;

    @media only screen and (max-width: $bp-xsmall) {
      position: relative;
      width: max-content;
      transform: translateX(0);
      left: 0;
      top: 0;
      margin: 0 auto;
      font-weight: 500;
    }
  }

  &__notch {
    /* This is the notch the image will be placed in.  It will scale to the size of the form.  The ::after contains the actual img, witch will scale to the curve of the notch.  Changing the size of the form should automatically change the size of notch and img. The border properties and rotate create the notch illusion*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50.4%) rotate(-45deg);
    background-color: $new-white;
    /* background-color is needed to hide top border from form behind the img*/
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    border: 1px solid rgb(36, 35, 35);
    border-top-color: transparent;
    border-right-color: transparent;
    // border-top: none;
    // border-right: none;

    @media only screen and (max-width: $bp-medium) {
      width: 23rem;
      height: 23rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 21rem;
      height: 21rem;
    }

    @media only screen and (max-width: $bp-xsmall) {
      width: 20rem;
      height: 20rem;
    }
    /* Add a support function for this, replaced aspect ratio method due to browser compatibility issues. */
    // width: 30%;
    // min-width: 20rem;
    // aspect-ratio: 1;

    &::after {
      /* Img is set as a background-img, percentages used as size to keep img responsive to notch.  Rotated to correct from rotation of parent*/
      content: "";
      @include abs-center;
      // centers the img in notch;

      width: 95%;
      height: 95%;
      border-radius: 50%;
      background-image: url(../img/chris.jpeg);
      background-size: 150%;
      background-position: center;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__group:not(:last-of-type) {
    /* This selects name and email elements; not message */
    margin-bottom: 1rem;
    position: relative;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 5px;
    }
  }

  &__input {
    // display: block;
    font-size: var(--input-size);
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: inherit;
    border: 1px solid black;
    width: 100%;
    transition: all 0.3s;

    &:focus {
      /* bottom border changes color depending on validity of input */
      outline: none;
      // box-shadow: 0 1rem rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid green;

      &:invalid {
        border-bottom: 3px solid $color-primary;
      }
    }

    &::-webkit-input-placeholder {
      color: var(--placeholder-color);
    }

    &--msg {
      padding-bottom: var(--msg-pad);
      font-size: var(--msg-size);
      font-weight: 400;
      // background-color: pink;
      resize: none;
    }
  }

  &__label {
    /* when placeholder is not shown, label is revealed below the input, giving the illusion the placeholder glided downwards.*/
    display: block;
    font-size: var(--label-size);
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    /* When placeholder is show, label will be hidden behind the placeholder */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__submit {
    padding: 0.75rem 2rem;

    border: none;
    border-radius: 5px;
    @include bk-gradient-blue;
    background-size: 200%;
    background-position: 100%;

    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;

    position: absolute;
    left: 50%;
    bottom: var(--form-padding);
    transform: translate(-50%, 30%) scale(1);
    /* will center btn on bottom border of message element */
    transition: transform 0.1s;

    &:hover,
    &:focus {
      outline: none;
      transform: translate(-50%, 30%) scale(1.05);
    }

    &:active {
      transform: translate(-50%, 30%) scale(0.95);
    }
  }
}

.socials {
  display: flex;
  /* positions all links on right side of card */
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10rem;
  /* gives space between social links and form items */
  padding: 0 7.5%;
  /* pushes links to the left */

  @media only screen and (max-width: $bp-small) {
    padding: 0 0;
  }

  @media only screen and (max-width: $bp-xsmall) {
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 3rem;
  }

  a {
    margin-left: 2%;
  }
  img {
    width: 4.5rem;
    transition: all 0.1s;

    @media only screen and (max-width: $bp-xsmall) {
      width: 3.5rem;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
