.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 20;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  padding: 3rem 3rem 0 3rem;
  font-family: "Merriweather", serif;

  width: 100%;
  // top: 4px;
  // background-color: transparent;

  .logo {
    width: 15rem;
    margin-left: 7%;
    // margin-bottom: -30px;
  }

  &__links {
    display: flex;
  }

  &__link,
  &__link:visited {
    img {
      width: 4rem;
    }
    margin-right: 2rem;
    font-size: 2.5rem;
    color: black;
    transition: all 0.1s;
  }

  &__link:focus,
  &__link:hover {
    color: $teal;
  }
  &__link:hover:not(:last-child) {
    transform: scale(1.1) translateY(-2px);
  }
  &__link:active:not(:last-child) {
    transform: scale(1) translateY(2px);
  }

  span {
    font-size: 2.8rem;
    font-weight: bold;
    align-self: flex-start;
  }
}

.title {
  @include hero-bk;

  &__pic {
    width: 20rem;
    border-radius: 50%;
    position: absolute;
    top: 8rem;
    right: 30%;
    z-index: -1;
  }

  &__icons {
    position: relative;
    top: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 6rem;
    height: 60%;
  }

  &__content {
    // background: blue;
    position: absolute;
    top: 20%;
    top: 28%;
    left: 20%;
    right: 27%;
    left: 28%;
    right: 19%;
    font-family: "Merriweather", serif;
    line-height: 1.4;

    h1 {
      font-size: 6rem;
      font-weight: 300;
    }
    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-left: 3rem;
    }

    p {
      margin: 2rem 0 0 5rem;
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "PT Sans", sans-serif;
      line-height: 1.7;
      letter-spacing: 0.2px;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    img {
      position: relative;
      width: 5rem;
      transition: all 0.1s;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      height: 0.45rem;
      width: 42%;
      perspective: 100px;
      transform: translateX(-50%) rotateX(45deg) scale(1);
      border-radius: 50%;
      box-shadow: 0px 0 40px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.1s;
      background-color: rgba(0, 0, 0, 0.45);
      transition: all 0.1s;
    }

    &:hover,
    &:focus {
      img {
        transform: translateY(-3px);
      }
      &::after {
        transform: translateX(-50%) rotateX(45deg) scale(1.17);
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &:active {
      img {
        transform: translateY(0.5rem);
      }
      &::after {
        transform: translateX(-50%) rotateX(45deg) scale(0.7);
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

/* PROJECTS //////////////////////////////////////////////// */

.projects {
  background-color: $color-primary;
}

.project {
  /* Change background color by using project-bk mixin, passing color as arg */
  //display
  /* heading, description, link */
  /*   --heading-fs: 1rem;
  --description-fs: 1rem;
  --link-fs: 1rem; */
  --heading-fs: 3rem;
  --description-fs: 2rem;
  --link-fs: 2rem;
  --img-size: 20rem;
  height: 324px;
  padding: 5rem 4rem;

  @media only screen and (max-width: $bp-largest) {
    --description-fs: 1.8rem;
    --link-fs: 1.8rem;
    height: 312px;
  }

  @media only screen and (max-width: $bp-medium) {
    --heading-fs: 2.5rem;
    --description-fs: 1.6rem;
    --img-size: 15rem;
    --link-fs: 1.6rem;
    padding: 3rem 3rem;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  //position
  position: relative;
  //box-sizing

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  //font properties
  //miscl
  @include project-bk($white);
  // //transitions
  @include bk-transition(0.3s);

  /* swaps all bk colors once project is hovered */
  &:hover,
  &:hover &__img,
  &:hover &__text-container > * {
    background-position: 100%;
  }
  &:hover &__link {
    color: $white;
  }

  &__img {
    //display
    order: 1;
    //position
    //box-sizing
    height: var(--img-size);
    width: var(--img-size);
    margin-right: auto;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: $mg-btm-m;
    }
    //font properties
    //miscl
    @include bk-gradient-blue;
    mask-size: cover;
    -webkit-mask-size: cover;
    &--poker {
      mask-image: url(../img/cards-white.svg);
      -webkit-mask-image: url(../img/cards-white.svg);
    }

    &--portfolio {
      @include bk-gradient-pink;

      mask-image: url(../img/sass.svg);
      -webkit-mask-image: url(../img/sass.svg);
    }

    &--node-js {
      @include bk-gradient-green;
      mask-image: url(../img/node-js.svg);
      -webkit-mask-image: url(../img/node-js.svg);
    }
    //transitions
    @include bk-transition;
    transition: transform 0.1s;

    &:hover {
      transform: translateY(-4px);
      background-position: 0% !important;
    }
  }
  &__text-container {
    //display
    flex: 0 1 60%;

    order: 2;
    //position
    //box-sizing
    // min-height: 70%;
    margin-right: 7rem;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 1 67%;
      margin-right: 0;
    }
    //font properties
    // color: $beige;
    //miscl
    //transitions

    & > *:not(:last-child) {
      /* Text is used as a mask, background provides color.  Mixins set up background properties.  Transition on hover is handled above by hovering parent div. */
      color: transparent;
      @include bk-gradient-blue;
      @include bk-transition;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid rgba($beige, 0.4);
  }

  /* ******************************* */
  &--reverse {
    // any project with the --reverse modifier will transition background in opposite direction;

    &:hover {
      background-position: -100%;
    }
  }

  &--reverse &__img {
    /* any project with --reverse modifier will reverse the order of img and text content */
    order: 3;
    margin-right: 0;
    margin-left: auto;

    @media only screen and (max-width: $bp-small) {
      order: 1;
      margin-left: 0;
    }
  }

  &--reverse &__text-container {
    margin-right: 0;
  }
  /* *************************************** */

  &__heading {
    margin-bottom: $mg-btm-m;
    cursor: default;
    // width: max-content;
    line-height: 1;
    // font-size: $fs-l;
    font-size: var(--heading-fs);

    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
  }

  &__description {
    margin-bottom: $mg-btm-l;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: $mg-btm-xl;
    }
    //font properties
    letter-spacing: 1px;
    font-size: $fs-m;
    font-size: var(--description-fs);
    cursor: default;
  }

  &__link {
    //display
    //position
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-49.9%, 0) scale(1);
    //box-sizing
    padding: 0.2rem 2rem;
    //font properties
    color: $color-primary;
    // font-size: $fs-m;
    font-size: var(--link-fs);
    font-weight: $fw-semi-bold;
    text-decoration: none;

    //miscl
    @include bk-gradient-blue;
    background-size: 201%;
    border-radius: 10px;
    //transitions
    transition: all 0.1s;

    &:hover,
    &:focus {
      // color: rgb(74, 201, 201) !important;
      color: $beige !important;
    }
  }
}

/* FULL VIEW /////////////////////////////////////// */
.project-fv {
  // transition: all 0.3s;
  // display: block;
  // opacity: 0;
  // height: 0;
  --banner-height: 5rem;
  //display
  //position
  // position: absolute;
  //box-sizing
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
  // height: 0;
  opacity: 0;
  visibility: hidden;
  // display: none;
  // padding: 0 2rem;
  // padding-bottom: 0;
  // padding-bottom: 5rem;
  //font properties
  //miscl
  border: 1px solid $color-primary;
  border-bottom: none;
  border-top: none;
  //transitions
  // transform-origin: bottom;
  // display: none;
  // opacity: 0;
  // transition: all 0.5s;

  // &:hover {
  //   // display: block;
  //   opacity: 1;
  //   height: 30rem;
  // }

  &__container {
    //display
    display: flex;
    align-items: center;
    //position
    position: relative;
    //box-sizing
    height: calc(100% - var(--banner-height));
    //font properties
    //miscl
    background-color: #fbf7f7;
    //transitions
  }

  &__banner {
    display: flex;
    justify-content: space-around;
    background-image: $gradient-blue;
    height: var(--banner-height);
    padding: 0.5rem 0;

    &--pink {
      background-image: $gradient-pink;
    }
  }

  &__title {
    --figure-width: 40.6rem;
    flex: 0 0 46rem;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
    padding: 2rem;
    // background-color: lightgreen;

    .figure {
      position: relative;
      margin-bottom: $mg-btm-m;
    }

    fig-caption {
      display: block;
      position: absolute;
      bottom: 0;
      left: -5%;
      right: -2%;

      font-size: $fs-s;
      font-weight: $fw-semi-bold;
      text-align: center;
      color: $color-secondary;

      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
      background-image: $gradient-blue;
      // background-color: purple;
    }

    p {
      font-size: $fs-xs;
      font-weight: $fw-semi-bold;
    }

    .mask {
      // width is determined in selector below, aspect ratio of 1 sets height === width.
      // set the background color & mask-image in the modifier.
      aspect-ratio: 1;
      background-size: 200%;
      background-position: 100%;

      mask-size: cover;
      -webkit-mask-size: cover;

      &--sass {
        @include bk-gradient-pink;

        mask-image: url(../img/sass.svg);
        -webkit-mask-image: url(../img/sass.svg);
      }

      &--node-js {
        @include bk-gradient-green;

        mask-image: url(../img/node-js.svg);
        -webkit-mask-image: url(../img/node-js.svg);
      }
    }

    .mask,
    video,
    img {
      width: var(--figure-width);
    }
  }

  &__content {
    //display
    flex: 1;
    display: flex;
    //position
    position: relative;
    //box-sizing
    padding-bottom: 8rem;
    //font properties
    //miscl
    // background-color: lightblue;

    & > *:not(.full-flex) {
      flex: 0 0 50%;
    }
  }

  &__links {
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-around;
  }
}

.contact {
  /* Contact section will take up 90vh and the form-container will be placed in the center, positioned slightly down on the Y-axis */
  position: relative;
  width: 100%;
  // height: 90vh;
  padding: 1rem;
  background-image: url(../img/logoFinal-large.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;

  &__form-container {
    --heading-size: 2.5rem;
    --social-size: 1.5rem;
    --placeholder-color: rgb(104, 100, 100);
    --label-size: 1.2rem;
    --input-size: 1.4rem;
    --msg-size: 1.6rem;
    --msg-pad: 13rem;

    // --heading-size: 25px;
    // --social-size: 15px;
    // --placeholder-color: rgb(104, 100, 100);
    // --label-size: 12px;
    // --input-size: 14px;
    // --msg-size: 16px;
    // --msg-pad: 130px;
    color: $black;
    background-color: $new-white;

    font-family: $ff-main;
    /* these above properties will be used or inherited by the form */
    width: 800px;
    min-width: 50%;
    max-width: 90%;
    margin: 17.5rem auto 1rem auto;
    // form width will respond to any changes in width made here.

    transition: all 0.8s cubic-bezier(0.5, 1.62, 0.98, 1.1);
    /* transition applies when hidden class is removed, translating up and changing opacity,
    this is done in JS */
  }
}
// background-color: #c1bfbf;
// background-image: linear-gradient(315deg, #c1bfbf 0%, #af8231 74%);

/* Used to test a transition, delete after implementing transistion */
@keyframes slide-up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
