/* 
#5D040A light red
#f1f0f0 white for dark red
#AF081B dark red*/

/* 
light black #494444
dark black #0C0C0C */
//Primary
$color-primary: #011627;
//Primary light
$color-primary-light: #02223cff;
//Primary dark
$color-primary-dark: #010b14ff;

$gradient-primary: linear-gradient(to right bottom, #02223cff, #010b14ff);
/* *********************** */
//Secondary
$color-secondary: #00ccccff;
//Secondary light
$color-secondary-light: #00f5f5ff;
//Secondary dark
$color-secondary-dark: #00a3a3ff;

/* *********************** */

//Accent
$color-accent: #da1884ff;
//Accent light
$color-accent-light: #f17ebdff;
//Accent dark
$color-accent-dark: #b8146eff;

/* *********************** */

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

/* ************************ */
$medium-champagne: rgba(238, 227, 171, 1);

$byzantine: rgba(174, 55, 151, 1);
$pacific-blue: rgba(62, 161, 179, 1);
$dark-cyan: rgba(39, 144, 144, 1);
$rich-black-fogra-29: rgba(1, 22, 39, 1);

$test-color: blue;

/* //Primary
$rich-black-fogra-29: #011627;
//Primary light
$oxford-blue: #02223cff;
//Primary dark
$rich-black-fogra-29-2: #010b14ff;

$gradient-primary: linear-gradient(to right bottom, #02223cff, #010b14ff);
//Secondary

$robin-egg-blue: #00ccccff;
//Secondary light
$fluorescent-blue: #00f5f5ff;
//Secondary dark
$viridian-green: #00a3a3ff;


//Accent
$barbie-pink: #da1884ff;
//Accent light
$persian-pink: #f17ebdff;
//Accent dark
$amaranth-m-p: #b8146eff; */
